<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.natalie.healthcareapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrugList"
            android:label="DrugList"
            android:parentActivityName=".MainScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.natalie.healthcareapp.MainScreen" />
        </activity>
        <activity

            android:name=".TravelTipPage"
            android:label="@string/title_activity_travel_tip_page"
            android:parentActivityName=".MainScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.natalie.healthcareapp.MainScreen" />
        </activity>
        <activity
            android:name=".SymptomsPage"
            android:label="@string/title_activity_symptoms_page"
            android:parentActivityName=".MainScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.natalie.healthcareapp.MainScreen" />
        </activity>
        <activity
            android:name=".Capecitabine"
            android:label="@string/title_activity_capecitabine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SideEffects"
            android:label="@string/title_activity_side_effects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Infections"
            android:label="@string/title_activity_side_effects2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fatigue"
            android:label="@string/title_activity_fatigue"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrusingBleeding"
            android:label="@string/title_activity_brusing_bleeding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NauseaVomiting"
            android:label="@string/title_activity_nausea_vomiting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Constipation"
            android:label="@string/title_activity_constipation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Diarrhea"
            android:label="@string/title_activity_diarrhea"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HandFoot"
            android:label="@string/title_activity_hand_foot"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".OralTreatments"
            android:label="@string/title_activity_oral_treatments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactInformation"
            android:label="@string/title_activity_contact_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Emergency"
            android:label="@string/title_activity_emergency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HandlingStorage"
            android:label="@string/title_activity_handling_storage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MissingTooMuch"
            android:label="@string/title_activity_missing_too_much"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LifestyleConsiderations"
            android:label="@string/title_activity_lifestyle_considerations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Resources"
            android:label="@string/title_activity_resources"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
